html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #151515;
	font-size: 18px;
}

.bodyContent {
    display: block;
	width: 90%;
    background-color: black;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 3%;
	color: #cccccc;
}

.section {
	display: block;
	width: 90%;
	margin: auto;
	padding-top: 1%;
	padding-bottom: 1%;
}

.errorTitle {
	background-color: #500000;
	display: inline-block;
	width: 10%;
	height: 100%;
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0%;
	padding-right: 0%;
    font-weight: bold;
	text-align: center;
	float: left;
}

.warningTitle {
    background-color: #505000;
	display: inline-block;
	width: 10%;
	height: 100%;
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0%;
	padding-right: 0%;
    font-weight: bold;
	text-align: center;
	float: left;
}

.logTitle {
    background-color: #808080;
	display: inline-block;
	width: 10%;
	height: 100%;
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0%;
	padding-right: 0%;
    font-weight: bold;
	text-align: center;
	float: left;
}

.line {
	background-color: #202020;
    display: inline-block;
	width: 10%;
	height: 100%;
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0%;
	padding-right: 0%;
	text-align: center;
}
	
.file {
	background-color: #202020;
    display: inline-block;
	width: 80%;
	height: 100%;
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0%;
	padding-right: 0%;
	float: right;
}

.text {
    display: inline-block;
	width: 92%;
	margin: 0px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 1%;
	padding-bottom: 1%;
	background-color: #1a1a1a;
}