#divInspector {
  overflow: scroll;
  background: white
}

.ui-accordion .ui-accordion-content {
  padding: 5px;
}

#optionsHierarchy2-button {
  float: right;
  width: 20px;
  height: 20px;
  padding: 0px;
}
